body{
    background-color:#F4F9FF;
    overflow-x: hidden;
    width: 100%;
    height: auto;
    }


    /* 1. General Styles */

    /* FONTS */
    
    .b-text{
        font-family: 'Roboto', sans-serif;
        color: #0d1020;
        font-weight: bolder;
        
    }
    
    .text {
        font-family: 'Roboto', sans-serif;
    }
    
    .ti-text {
        font-family: 'poppins', sans-serif;
        font-size: smaller;
    }
    
    .m-text {
        font-family: 'Roboto', sans-serif;
        font-weight: bolder;
    }
    
    .r-text {
        font-family: 'Roboto', sans-serif;
    }
    
    .mm-text {
        font-family: 'Roboto', sans-serif;
        font-weight: bolder;
    }
    
    .mm-text:hover {
        background: -webkit-linear-gradient(#5bcf4e, #1e2a69);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    
    .s-text {
        font-family: 'poppins', sans-serif;
    }


    
    /* .g-button {
        background-color: #70BD68;
    }
    
    .g-button:hover{
        background-color: #0d1020;
        color: #ffffff;
    }
    
    .g-button .ti-text:hover {
        color: #ffffff;
    }
     */
    a {
        text-decoration: none !important;
        color: #ffffff;
    }
    
    .nav-link {
        color: #0d1020;
    }
    
    .nav-link:hover {
        color: white;
    }

/* Navbar Menu */
nav {
    height: 76px;
    width: 100%;
    position: fixed;
    z-index: 50;
    top: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    margin-top: -1px;
    background-color: #0d1020;
}

.nav-c {
    height: 50px;
    border-radius: 10px;
    padding: 0px 100px;
    justify-content:space-between;
    gap: 50px;
    background-color: #ffffff;
    max-width: 750px;
}

.nav-item{
    padding-top: 5px;
    margin-left: 30px;
    border-radius: 15px;
    height: 50px;
    align-self: center;
}

.nav-item:hover {
    /* background-image: url(../Images/Rectangle\ 19.png);     */
    background-image: linear-gradient(to bottom, #009647, #2B84A9);
    background-size:cover;
    color: #0D1020;
    
}

.selectors{
    font-weight: 100;
}

.nav-s {
    display: flex;
    margin-left: 75px;
}

.searchBox {
    height: 40px;
    color: #ffffff;
    margin-top: -10px;
    margin-left: 10px;

}

.searchBox:hover > .searchInput {
    width: 240px;
    padding: 0 6px;
    margin-top: -20px;
}

.searchBox:hover > .searchButton {
  background: white;
  color : #ffffff;
}

.searchButton {
    color: white;
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #2f3640;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
}

.searchInput {
    border:none;
    background: none;
    outline:none;
    float:left;
    padding: 0;
    color: white;
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    width: 0px;

}

@media screen and (max-width: 620px) {
.searchBox:hover > .searchInput {
    width: 150px;
    padding: 0 6px;
}
}


/* MAIN */

.p-header {
    color: #ffffff;
    margin-bottom: 50px;
    padding-top: 30px;
    text-align: center;
    font-weight: bolder;
    font-size: 50px;
}

.title {
    background-image: url(../Images/title-bg.png);
    background-size: cover;
    height: 150px;
    border-radius: 0px 0px 20px 20px;
}

article {
    font-family: 'poppins', sans-serif;
    font-size: medium;
}

.b-text{
    text-align: center;
    margin: 25px;
}

p {
   margin-bottom: 15px;
}

.flex-con .m-text {
    margin: 20px;
}

.flex-con {
    display: flex;
    justify-content: center;
    padding-left: 25px;
    padding-right: 25px;
}

.flex-con article {
     font-size: small;
}

.SA {
    margin-bottom: 25px;
}

h2 {
   margin-top: 30px;
}

.fa-briefcase {
    background-image: linear-gradient(to right, #C21500, #ffc500);
    padding: 10px;
    border-radius: 100%;
    color: #ffffff;
}

.fa-scale-balanced{
    background-image: linear-gradient(to right, #091e3a, #2d9ee0);
    padding: 10px;
    border-radius: 100%;
    color: #ffffff;
} 

.fa-user {
    background-image: linear-gradient(to right, #eb0000, #3300fc);
    padding: 10px;
    border-radius: 100%;
    color: #ffffff;
}

.fa-newspaper{
    background-image: linear-gradient(to right, #9400d3, #4b0082);
    padding: 10px;
    border-radius: 100%;
    color: #ffffff;
}

.fa-handshake{
    background-image: linear-gradient(to right, #1e93e9, #0aff68);
    padding: 10px;
    border-radius: 100%;
    color: #ffffff;
}


.yr-btn {
    display: flex;
    justify-content:center;
    margin-bottom: 25px;
}

#yr-btn {
    width: 400px;
    height: 50px;
    background-image: linear-gradient(to right, #C21500, #FFC500);
    border-radius: 10px;
    margin: 25px;

}

.yr-text {
    text-align: center;
    padding-top: 10px;
    font-weight: bolder;
    font-family: 'Roboto', sans-serif;
    font-size: larger;
}



.footer {
    background-color: #0D1020;

    height: 350px;
}

.social-icons {
margin-top: 75px;
}

.ft-logo {
    margin-top: 50px;
}

.footer .m-text {
    color: #ffffff;
    padding-top: 20px;  
    
}

.footer-t {
    color: #c0c0c0;
}

.footer-link {
    color: #c0c0c0;
}

hr {
    height: 1px;
    background-color: #c0c0c0;
}