body{
    background-color:#d1deec;
    overflow-x: hidden;
    width: 100%;
    height: auto;
    }


    /* 1. General Styles */

    /* FONTS */
    
    .b-text{
        font-family: 'Roboto', sans-serif;
        color: #0d1020;
        font-weight: bolder;
        
    }
    
    .text {
        font-family: 'Roboto', sans-serif;
    }
    
    .ti-text {
        font-family: 'poppins', sans-serif;
        font-size: smaller;
    }
    
    .m-text {
        font-family: 'Roboto', sans-serif;
        font-weight: bolder;
    }
    
    .r-text {
        font-family: 'Roboto', sans-serif;
    }
    
    .mm-text {
        font-family: 'Roboto', sans-serif;
        font-weight: bolder;
    }
    
    .mm-text:hover {
        background: -webkit-linear-gradient(#5bcf4e, #1e2a69);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    
    .s-text {
        font-family: 'poppins', sans-serif;
    }
    
    /* .g-button {
        background-color: #70BD68;
    }
    
    .g-button:hover{
        background-color: #0d1020;
        color: #ffffff;
    }
    
    .g-button .ti-text:hover {
        color: #ffffff;
    }
     */
    a {
        text-decoration: none !important;
        color: #ffffff;
    }
    
    .nav-link {
        color: #0d1020;
    }
    
    .nav-link:hover {
        color: white;
    }

/* Navbar Menu */
nav {
    height: 76px;
    width: 100%;
    position: fixed;
    z-index: 50;
    top: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    margin-top: -1px;
    background-color: #0d1020;
}

.nav-c {
    height: 50px;
    border-radius: 10px;
    padding: 0px 100px;
    justify-content:space-between;
    gap: 50px;
    background-color: #ffffff;
    max-width: 750px;
}

.nav-item{
    padding-top: 5px;
    margin-left: 30px;
    border-radius: 15px;
    height: 50px;
    align-self: center;
}

.nav-item:hover {
    /* background-image: url(../Images/Rectangle\ 19.png);     */
    background-image: linear-gradient(to bottom, #009647, #2B84A9);
    background-size:cover;
    color: #0D1020;
    
}

.selectors{
    font-weight: 100;
}

.nav-s {
    display: flex;
    margin-left: 75px;
}

.searchBox {
    height: 40px;
    color: #ffffff;
    margin-top: -10px;
    margin-left: 10px;

}

.searchBox:hover > .searchInput {
    width: 240px;
    padding: 0 6px;
    margin-top: -20px;
}

.searchBox:hover > .searchButton {
  background: white;
  color : #ffffff;
}

.searchButton {
    color: white;
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #2f3640;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
}

.searchInput {
    border:none;
    background: none;
    outline:none;
    float:left;
    padding: 0;
    color: white;
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    width: 0px;

}

@media screen and (max-width: 620px) {
.searchBox:hover > .searchInput {
    width: 150px;
    padding: 0 6px;
}
}

.contact-form {
    margin: 15px;
    display: flex;
    justify-content: center;
    /* padding-top: 4px; */
}

.containe{ 
    border: 1px solid #A3A3A3;
    background-color: #ffffff;
    width: 350px;
    border-radius: 25px;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .sub-input {
      width: 260px;
      height: 40px;
      height: 20px; 
      padding-right: 50px;
      padding-left: 15px;
      font-size: 18px;
      border: 0px solid transparent;
      background-color: transparent;
      color: #666;
  }
  
  input[type="submit"] {
      height: 40px;
      width: 80px;
      cursor: pointer;
      background: linear-gradient(to right, #c21500, #ffc500);
      color: #0D1020;
      border: 0;
      font-size: 12px;
      /* padding-right: 30px; */
      /* padding-left: 30px; */
      -webkit-appearance: none;
      border-radius: 25px;
      transition: background-color 0.5s ease;
  }
  input[type="submit"]:hover {
    background-color: #7DAEDE;
  }
  textarea:focus, input:focus{
      outline: none;
  }

   .col-md-7 textarea {
    background-color: #d1deec;
   }

   .textt {
    text-align: center;
    font-weight: bold;
    margin: 25px;
   }




   .sub-row {
    background: url(../Images/Rectangle\ 19.png);
    background-size: cover;
    height: 280px;
    
}

.connect-box {
     margin-top: 60px;
}

.sub-form {
    margin-top: 60px;
    padding-left: 60px;
    padding-top: 40px;
}

.sub-row .b-text{
    color: #ffffff;
}

.sub-row .m-text {
    color: #ffffff;
}

.footer {
    background-color: #0D1020;

    height: 350px;
}

.social-icons {
margin-top: 75px;
}

.ft-logo {
    margin-top: 50px;
}

.footer .m-text {
    color: #ffffff;
    padding-top: 20px;  
    
}

.footer-t {
    color: #c0c0c0;
}

.footer-link {
    color: #c0c0c0;
}

hr {
    height: 1px;
    background-color: #c0c0c0;
}